<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @job_app.First %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job_app.Name %>
</p>

<p>
  <strong>Last:</strong>
  <%= @job_app.Last %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job_app.Name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @job_app.Phone %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_app.Job %>
</p>

<p>
  <strong>Role:</strong>
  <%= @job_app.Role %>
</p>

<p>
  <strong>Place:</strong>
  <%= @job_app.Place %>
</p>

<%= link_to 'Edit', edit_job_app_path(@job_app) %> |
<%= link_to 'Back', job_apps_path %>
